<%= form_for(@movie_idea) do |f| %>
  <% if @movie_idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_idea.errors.count, "error") %> prohibited this movie_idea from being saved:</h2>

      <ul>
      <% @movie_idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="synopsis-field">
    Synopsis<br>
    <%= f.text_area :synopsis, {rows: "4", cols: "50", maxlength: "150"} %>
    <div id="textarea_feedback"></div><br>
  </div>
  <div class="moreInfo-field">
    Write more about it here:<br>
    <%= f.text_area :more_info, {rows: "8", cols: "50", maxlength: "150"} %>
  </div>
  <div class="user-field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

