<div class="container">

  <div class="btn-group">
    <a href="/users/<%= @movie_idea.user_id %>" class="btn btn-default">Creator Profile</a>

    <% if user_signed_in? and current_user.id == @movie_idea.user_id %>
      <a href="/movie_ideas/<%= @movie_idea.id %>/edit" class="btn btn-default">Edit</a>
    <%= link_to 'Destroy', @movie_idea, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %>
    <% end %>

  </div>

  <br><br>
  <div class="col-md-2">
    <center>
      <form action="/movie_ideas/<%= @movie.id %>/like" method="post">
        <button class="btn btn-default"><i type="submit" class="fa fa-thumbs-o-up fa-2x"></i></button>
      </form>
        <p><%= @movie_idea.get_likes.size %>
      <form action="/movie_ideas/<%= @movie.id %>/dislike" method="post">
        <button class="btn btn-default"><i type="submit" class="fa fa-thumbs-o-down fa-2x"></i></button>
      </form>
        <p><%= @movie_idea.get_dislikes.size %>
    </center>
  </div>
  <div class="col-md-10">
    <p class="header"><strong>Synopsis</strong></p>
    <p class="details-synopsis"><%= @movie_idea.synopsis %></p>

    <p class="header"><strong>More Information</strong></p>
    <p class="details-moreInfo"><%= @movie_idea.more_info %></p>
  </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'synopsia'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


</div>
