
<div class="container">
  <p id="notice"><%= notice %></p>

  <p class="header"><strong>Synopsis</strong></p>
  <p><%= @movie_idea.synopsis %></p>

  <p class="header"><strong>More Information</strong></p>
  <p><%= @movie_idea.more_info %></p>

 <!--  <%= link_to 'Edit', edit_movie_idea_path(@movie_idea) %> | -->
<!--   <%= link_to 'Back', movie_ideas_path %> -->

</div>