<div class="container">

    <div class="user_info">
      <%= image_tag @user.profile_pic %>
      <p><%= @user.first_name %> | <%= @user.email %></p>
      <p><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></p>

    </div>



  <div class="profile_ideas">
    <table id="profile_ideas">
      <thead>
        <tr>
          <th>My Ideas</th>
          <th><i type="submit" class="fa fa-thumbs-o-up fa-2x"></i></th>
          <th><i type="submit" class="fa fa-thumbs-o-down fa-2x"></i></th>
        </tr>
      </thead>
      <tbody>
        <% @user.movie_ideas.each do |idea| %>
        <tr>
          <td><a href="/movie_ideas/<%= idea.id %>"><%= idea.synopsis %></a></td>
          <td><%= idea.get_likes.size %></td>
          <td><%= idea.get_dislikes.size %></td>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
