<div class="user_profile">

  <div class="user_info col-md-3">
    <%= image_tag @user.profile_pic %>
    <p><%= @user.email %>
    <p><%= @user.first_name %>
    <p><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
  </div>


  <div class="profile_ideas col-md-9">
    <table id="profile_ideas">
      <thead>
        <tr>
          <th>My Movie Ideas</th>
          <th>Likes</th>
          <th>Dislikes</th>
        </tr>
      </thead>
      <tbody>
        <% @user.movie_ideas.each do |idea| %>
        <tr>
          <td><a href="/movie_ideas/<%= idea.id %>"><%= idea.synopsis %></a></td>
          <td><%= idea.get_likes.size %></td>
          <td><%= idea.get_dislikes.size %></td>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>

</div>