<center>

<h3 class="css-typing">this is an archive of our entertainment</h3>
<div class="card-top-container">
  <div class="card-container">
    <div class="card">

      <div class="front">
        <div class="synopsis">
          <p><%= @info.synopsis %></p>
        </div>
      </div>

      <div class="back">
        <div class="synopsis">
          <p><%= @info.more_info %></p>

        </div>
          <div>
            <div class="btn-group btn-group-justified">

              <div class="btn-group">
                <form action="/movie_ideas/<%= @info.id %>/dislike" method="post">
                  <button class="btn btn-default"><i type="submit" class="fa fa-thumbs-o-down fa-2x"></i></button>
                </form>
              </div>

              <div class="btn-group">
                <form action="/movie_ideas/<%= @info.id %>">
                  <button class="btn btn-default"><i class="fa fa-info fa-2x"></i></button>
                </form>
              </div>


              <div class="btn-group">
                <form action="/" method="get">
                  <button class="btn btn-default"><i type="submit" class="fa fa-refresh fa-2x"></i></button>
                </form>
              </div>

              <div class="btn-group">
                <form action="/movie_ideas/<%= @info.id %>/like" method="post">
                  <button class="btn btn-default"><i type="submit" class="fa fa-thumbs-o-up fa-2x"></i></button>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


</center>
